.emboss {
  width: 12rem;
  height: 8rem;
  background-color: #f9dba9;
  border-bottom: 4px solid #a7926f;
  /* border-left: 5px solid #a7926f; */
  border-right: 2px solid #a7926f;
  border-left: 1px solid #a7926f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.3);
}

.emboss:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) inset, 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translateY(1px);
  transition-duration: 300ms;
  border: none;
  animation-duration: 300ms;
}
