@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mistrully";
  src: url("./fonts/Mistrully.ttf");
}
@font-face {
  font-family: "CatchyMager-Normal";
  src: url("./fonts/CatchyMager-Normal.ttf");
}

.categoryColor {
  color: #2f3935;
}

.bodyColor {
  color: #012854;
}

.cardColor {
  color: #f9dba9;
}

.subBodyColor {
  color: #fffbf3;
}

.arrowBg {
  color: #fef3dc;
}
