@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mistrully";
  src: url("./fonts/Mistrully.ttf");
}

@font-face {
  font-family: "SimpleHandmade";
  src: url("./fonts/SimpleHandmade.otf");
}

@font-face {
  font-family: "Gabarito";
  src: url("./fonts/Gabarito-Medium.ttf");
}
@font-face {
  color: #012854;
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "CatchyMager-Normal";
  src: url("./fonts/CatchyMager-Normal.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

p {
  color: #012854;
  font-family: "Lato", sans-serif;
}

.categoryColor {
  color: #2f3935;
}

.bodyColor {
  color: #012854;
}

.cardColor {
  color: #f9dba9;
}

.subBodyColor {
  color: #fffbf3;
}

.arrowBg {
  color: #fef3dc;
}

.hashColor {
  color: #ff904d;
}

.contentBg {
  color: #fefeff;
}

.ScrollableSection::-webkit-scrollbar {
  display: none;
}

.ScrollableSection {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
